.header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;

}

body {
  margin-top: 20px;

}

.nav {
  position: fixed;
  left: 20%;
  right: 20%;
  max-width: 70%;
  border-style: outset;
  animation: mymove 5s infinite;
  padding: 10px 12px;
  font-size: large;
  font-weight: bold;
  border-color: green;
  background-color: white;
  border-radius: 10px;

}

.publicacionUserName {
  text-transform: uppercase;
}