.header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;

}

body {
  margin-top: 20px;

}

.text {
  font-size: 24px;
  background: rgb(240, 248, 240);
}

.tam {
  padding: auto;

}
#content {
  background-color: transparent;
  /*font-size: 0;*/
  width: 400px;
  height: auto;
  padding: 20px;
}
#left, #right {
 display: inline-block;
 box-sizing: border-box;
 width: 45%;
 height: 100%;
}
#left {
 
 margin-right: 10px;
}
#right {
 margin-right: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
  

.like__btn {
  padding: 8px 15px;
  background: #0080ff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  color: #e8efff;
  outline: none;
  border: none;
  cursor: pointer;
}