.nav {
    position: absolute;
    min-width: 70%;
    max-width: 70%;
    animation: mymove 5s infinite;
    padding: 0px 0px;
    font-size: large;
    font-weight: bold;
    border-style: hidden;
    border-radius: 0px;
}

.nav-link {
    font-size: 24px;
    font-weight: bold;
    color: #0c4c8c !important;
    cursor: pointer;
    text-align: center;
    border-radius: 0px;
}

.active {
    border-bottom: 5px solid #0c242c ;
    border-radius: 5px ;
}

.nav-link>a:hover {
    color: #0c242c !important;
}

#dropdown-menu-align-end {
    background-color: #0c242c !important;
    color: #dbeaed !important;
}