.header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

body {
  margin-top: 20px;
}

#containerSection {
  min-height: auto;
  max-width: auto;
  top: 10px;
  border: 2px solid;
  background-color: #07362d;
}

#itemSectionCard {
  background-color: #efdc78;
  border-radius: 50%;
}

.nav {
  border-style: outset;
  font-size: large;
  font-weight: bold;
}

.activityUserName {
  text-transform: uppercase;
}

.activityTitle {
  text-transform: uppercase;
}