.header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

body {
  margin-top: 20px;
}

.title {
  text-align: center;
  font-weight: bold;
  color: white;
}

#containerSection {
  min-height: auto;
  max-width: auto;
  top: 10px;
  border: 2px solid;
  background-color: #07362d;
}

#itemSectionCard {
  background-color: #efdc78;
  border-radius: 50%;
  max-width: auto;
  min-width: auto;
}

.centerAct {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

#divItem {
  margin: 20px;
}

#divBodyItem {
  margin: 35px;
}

.nav {
  border-style: outset;
  font-size: large;
  font-weight: bold;
}

.cardItemUserName {
  text-transform: uppercase;
  font-size: 18px;
  color: black;
}

.cardItemTitle {
  font-size: 17px;
  color: black;
}

.uppercaseText {
  text-transform: uppercase;
}