.nav-item .nav-link {
    color: black !important;
    cursor: pointer;
}

.nav-item>a:hover {
    color: white !important;
}

.nav-item {
    border: 1px solid black;
    min-width: 33.3333333%;
    max-width: 33.3333333%;
}

.nav-item a.active {
    border-radius: 0%;
}