.header {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}

body {
  margin-top: 0px;
  background: linear-gradient(90deg,#4fbec9,#0c242c 59%);
}

.title {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: white;
}

#cardItem {
  background-color: #dbeaed;
  display: block;
  max-width: auto;
  min-width: auto;
}

.cardItemUserName {
  text-transform: uppercase;
  font-size: 18px;
  color: black;
}

.cardItemTitle {
  font-size: 17px;
  color: black;
}

.uppercaseText {
  text-transform: uppercase;
}

.errorMessModal {
  display: block;
}
.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}