.header {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}

body {
  margin-top: 20px;
  background: linear-gradient(90deg, rgba(239, 220, 120, 1) 0%, rgba(54, 95, 65, 1) 59%);
}

.nav {
  border-style: outset;
  font-size: large;
  font-weight: bold;

}

.voluntarioUserName {
  text-transform: uppercase;
}