.Applicacion {
  font-family: 'Roboto', sans-serif;
  height: auto;
  background: url(./imagenes/imageAlter4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

.App {
  background: linear-gradient(90deg, #4fbec9, #0c242c 59%);
}

/*Titulo principal de cada seccion, con h2*/
.sectionTitle {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

/*Titulos de Formularios con h3 */
.textTitleForm {
  color: #0c242c;
  font-size: 28px;
  font-weight: bold;
}

/*Text de los labels de formulario */
.textLabel {
  color: #0c242c;
  font-size: 17px;
  font-weight: bold;
}

/*Color de fondo del modal */
.modalColor {
  background: white;
}

/*Texto de los modals de ver detalle */
.textInfoModal {
  font-size: 17px;
  color: black;
}

/*Boton de Crear, Publicar en la pagina de secciones*/
.btn-primary {
  background-color: #0c242c !important;
  border: #dbeaed 2px solid !important;
  font-weight: bold !important;
  color: #dbeaed !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #0c4c8c !important;
  border: #dbeaed 2px solid !important;
  font-weight: bold !important;
  color: #dbeaed !important;

}

/*Boton de Cancelar de los formularios*/
.btn-secondary {
  background-color: #d93025 !important;
  border-color: #fff !important;
  color: #fff;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: red !important;
}

/*Boton de Crear de los formularios*/
.btn-success {
  background-color: #0c242c !important;
  border-color: #fff !important;
  color: #f8f9fa;
}

.btn-success:hover,
.btn-success:active,
.btn-success:visited {
  background-color: #0c4c8c !important;
}

.btn-warning {
  background-color: #0c4c8c !important;
  border-color: #fff !important;
  color: #f8f9fa;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited {
  background-color: #0c242c !important;
}

.textLikeButton {
  font-size: 16px;
  color: white;
}


/*Texto de nombre usuario del card*/
.cardItmUserName {
  font-size: 17px;
  color: #0c242c;
  text-align: left;
  padding-left: 10px;
}

/*Texto de titulo del card*/
.cardItmTitle {
  font-size: 24px;
  font-weight: bold;
  color: #0c4c8c;
}

.errorMessModal {
  display: block;
}

.cardSec {
  min-height: 545px;
  max-height: 550px;
}

.cardItmText {
  font-size: 17px;
  color: #0c242c;
}

.cardItemImage {
  height: 200px;
}

.cardImageSec {
  width: auto;
  height: 130px;
}

.cardItmHeader {
  width: auto;
  height: 70px;
}

.cartItmDate {
  width: auto;
  height: 160px;
}
.cartItmDateAct {
  width: auto;
  height: 120px;
}

.cardItmDes {
  width: auto;
  height: 60px;
}

.cardTitleSec {
  width: auto;
  height: 110px;
}

.cardItmLocation {
  width: auto;
  height: 30px;
}

.cardItemIconLocation {
  width: 30px;
  height: 5px;
}

.cardItmHeaderAct {
  width: auto;
  height: 60px;
}

.cardItmHeaderPubli {
  width: auto;
  height: 120px;
}

.cardItmHeaderVol {
  width: auto;
  height: 100px;
}

.cardPubli {
  width: auto;
  height: 200px;
}

.textForm {
  font-size: 17px;
  color: black;
}

.input-feedback {
  font-family: 'Roboto', sans-serif;
}

.cardButtonsSec {
  width: auto;
  height: 30px;
}

.cardFooterSec {
  width: auto;
  height: 10px;
}

.labelCard {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  background-color: #0c242c;
  color: white;
  padding: 0.1em;
}

.textPubl {
  border-left: 4px solid white;
  padding-left: 10px;
}


.bubble {
	box-sizing: border-box;
  top: 185px;
  width: 320px;
  min-height: 100px;
	background: #0c4c8c;
	border-radius: 10px;
	padding: 10px;
}

/*
.bubble-bottom:after {
	content: '';
	position: absolute;
  top: 275px;
	width: 0;
	height: 50px;
	bottom: -35px;
	right: 285px;
	border-bottom: 15px solid transparent;
	border-top: 25px solid #0c4c8c;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
}
*/

.bubble-text-title {
  font-size: 17px;
  color: #0c242c;
}

.bubble-text {
  font-size: 17px;
  color: white;
}