.App {
  font-family: 'Roboto', sans-serif;
  height: auto;
  background: url(./imagenes/imageAlter4.jpg);
  background-size: cover;
  background-attachment: fixed;
  /*background-position: bottom;*/
}







